body {
	font-family: Verdana, sans-serif;
}

* {
	box-sizing: border-box;
}

$bg-color: #F5F5F5; // grey

$block-color: #F0F2FA; // darcker-grey

$color: #d53428; // red

$color-text: #6c7a89; // grey

.container {
	max-width: 1200px;
	padding: 15px;
	margin: 0 auto;
	position: relative;
}

.heading {
	color: #284765;
	font-size: 26px;

	@media screen and (max-width: 480px) {
		text-align: center;
	}
}

.text {
	color: #6c7a89;
	font-size: 14px;
	line-height: 20px;
}

.button {
	display: inline-block;
	padding: 15px;
	border: none;
	color: white;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;

	@media screen and (max-width: 992px) {
		padding: 10px;
		font-size: 14px;
	}
}

.clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

// HEADER
header {
	background: $bg-color;
}

.header-block {
	font-size: 0;
}

.header-logo,
.header-city, 
.header-repair, 
.header-search,
.header-enter {
	display: inline-block;
	vertical-align: middle;
}

.header-logo,
.header-city, 
.header-repair, 
.header-enter {
	width: 18%;
	padding: 0 10px;

	@media screen and (max-width: 992px) {
		width: 33%;
		margin-bottom: 15px;
		text-align: center;
	}

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.logo img {
	width: 100%;

	@media screen and (max-width: 480px) {
		width: 33%;
	}
}

.header-city {
	padding-left: 2%;

	.header-city-select {
		border: 0;
		background: inherit;
		outline: none;
		color: #284765;
	    font-size: 18px;
	    line-height: 28px;
	}
}

.header-repair-request {
	@extend .button;
	width: 100%;
	color: $color;
	border-bottom: 1px solid #d8e0eb;
	background: transparent;

	@media screen and (max-width: 480px) {
		width: 40%;
	}
}

.header-repair-calc {
	@extend .button;
	width: 100%;
	color: $color-text; 
	background: transparent;
}

.header-search {
	width: 28%;

	@media screen and (max-width: 992px) {
		width: 67%;
	}

	@media screen and (max-width: 480px) {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	.header-search-input {
		width: 90%;
		padding: 10px;
		margin-left: 7%;
		background-color: white;
		border: 1px solid rgba(108, 122, 137, 0.2);
		border-radius: 2px;

		@media screen and (max-width: 992px) {
			width: 80%;
		}

		@media screen and (max-width: 480px) {
			margin-left: 0;
		}
	}

	.header-search-button {
		border: none;
		margin-left: -11%;
		background: transparent;
		cursor: pointer;

		&:after {
			content: "\f002";
			font-family: FontAwesome;
			font-size: 18px;
			color: $color-text;
		}
	}	
}

.header-enter {
	text-align: center;

	@media screen and (max-width: 992px) {
		border-left: 1px solid #d8e0eb;
	}

	@media screen and (max-width: 480px) {
		border-left: none;
	}

	.header-enter-text {
		color: #3498db;
		font-size: 15px;
		font-weight: 700;
		line-height: 26px;
		cursor: pointer;

		span {
			font-weight: 400;
		}
	}
}
//end of HEADER

//NAV
nav {
	background-color: #e4e8f1;
}

.menu {
	display: none;

	@media screen and (max-width: 768px) {
		display: inline-block;
		width: 19%;
	    font-size: 30px;
		color: #3498db;
	    cursor: pointer;
	}
}

.nav-list {
	margin: 0 auto;
	font-size: 0;
	display: inline-block;
	width: 75%;
	text-align: center;

	@media screen and (max-width: 992px) {
		width: 100%;
	}

	@media screen and (max-width: 768px) {
		display: none;
		position: absolute;
	    top: 55px;
	    left: 45px;
	    width: 71%;
	    padding: 5px;
	    background-color: #3498db;
	    z-index: 1;
	}

	.nav-list-item {
		display: inline-block;
		margin-right: 6%;
		padding: 0 5px;
		text-align: center;

		&:last-child {
			margin-right: 0;
		}

		@media screen and (max-width: 768px) {
			display: block;
			margin-right: 0;
		    padding: 0 15px;
		    text-align: left;

		    &:first-child:after {
		    	content: "\f105";
		    	font-family: FontAwesome;
		    	font-size: 20px;
		    	padding-left: 20px;
		    	color: white;
		    }
		}
	}

	.nav-list-link {
		color: #3498db;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;

		@media screen and (max-width: 768px) {
			color: white;
			line-height: 3;
		}
	}
}

.nav-second-list {
	display: none;
	width: 70%;
	position: absolute;
	top: 70px;
	left: 0;
	padding-top: 10px;
	text-align: left;
	z-index: 1;

	@media screen and (max-width: 768px) {
		top: 0;
		left: initial;
		right: -27%;
		background: gray;
	}

	@media screen and (max-width: 480px) {
		top: 40px;
		right: -20%;
	}

	.nav-second-item {
		display: inline-block;
		padding-right: 25px;

		@media screen and (max-width: 768px) {
			padding: 0 0 10px 10px;
		}
	}

	.nav-second-link {
		text-decoration: none;
		font-size: 16px;
		line-height: 25px;
		color: white;

		@media screen and (max-width: 768px) {
			font-size: 12px;
			line-height: 18px;
		}
	} 

	.nav-second-button {
		background: transparent;
		border: none;
		padding: 0;
		font-size: 14px;
	    font-weight: 700;
	    color: white;
	    cursor: pointer;
	}

	&:before {
		content: "\f107";
	    font-family: FontAwesome;
	    font-size: 20px;
	    color: white;
	    position: absolute;
	    top: -16px;
	    left: 12%;

	    @media screen and (max-width: 768px) {
			display: none;
		}
	}
}

.hover {
	display: block; //for jquery - menu
}

.mouse-leave {
	display: none; //for jquery - menu
}

.nav-goods {
	color: #3498db;
	text-decoration: none;

	@media screen and (max-width: 992px) {
		width: 100%;
		display: inline-block;
		margin-top: 15px;
		text-align: center;
	}

	@media screen and (max-width: 768px) {
		width: 78%;
		margin-top: 0;
		text-align: right;
	}

	&:before {
		content: "\f002";
		font-family: FontAwesome;
		padding-right: 10px;
    	color: #FDB916;
	}
}

.nav-goods-span {
	color: #f9251a;
	font-size: 12px;
	line-height: 22px;
}
// end of NAV

// BANNER
.banner {
	background: url("../images/banner-bg.jpg");
	background-size: cover;
}

.banner-wrapper {
	padding-bottom: 65px;
	font-size: 0;

	@media screen and (max-width: 768px) {
		padding: 30px;
		text-align: center;
	}
}

.banner-buttons {
	display: inline-block;
	width: 70%;

	@media screen and (max-width: 768px) {
		width: 100%;
	}

	.banner-order {
		@extend .button;
		margin-left: 15%;
		background-color: $color;

		@media screen and (max-width: 992px) {
			display: block;
			margin: 0 auto;
		}
	}

	.banner-calc {
		@extend .button;
		margin-left: 4%;
		background-color: #2ecc71;

		@media screen and (max-width: 992px) {
			display: block;
			margin: 10px auto;
		}
	}	
}

.banner-image {
	display: inline-block;
	width: 30%;
	vertical-align: bottom;

	@media screen and (max-width: 768px) {
		display: none;
	}

	.banner-image-item {
		width: 100%;
	}	
}
//end of BANNER

//COMPANIES
.companies-wrapper {
	padding: 70px 0 80px;

	@media screen and (max-width: 768px) {
		padding: 20px 0;
	}
}

.companies-heading {
	@extend .heading;
	display: inline-block;

	@media screen and (max-width: 480px) {
		display: block;
	}
}

.companies-text {
	float: right;
	color: #d53428;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;

	@media screen and (max-width: 992px) {
		padding-right: 20px;
	}

	@media screen and (max-width: 768px) {
		float: none;
	}

	@media screen and (max-width: 480px) {
		text-align: center;
	}
}

.companies-name {
	margin: 0 auto;
	padding: 40px 0 70px;
	text-align: center;
	font-size: 0;

	@media screen and (max-width: 480px) {
		padding: 20px 0;
	}
}

.companies-name-item {
	display: inline-flex;
	width: 23.5%;
	height: 200px;
	margin-right: 2%;
	background: url("../images/bg-logo.png") center center no-repeat, $block-color;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	
	@media screen and (max-width: 768px) {
		width: 46%;
		margin: 2%;
	}

	@media screen and (max-width: 480px) {
		width: 90%;
		margin: 10px 0;
	}

	&:last-child {
		margin-right: 0;

		@media screen and (max-width: 768px) {
			margin-right: 2%;
		}
	}
}

.companies-name-link {
	display: inline-block;
	width: 100%;
	margin: 57% auto 0;
	color: #024566;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: none;

	@media screen and (max-width: 992px) {
		margin-top: 80%;
	}

	@media screen and (max-width: 480px) {
		margin-top: 150px;
	}
}

.companies-pic {
	font-size: 0;
}	

.companies-pic-item {
	display: inline-block;
	width: 49%;
	margin-right: 2%;

	&:last-child {
		margin-right: 0;
	}

	img {
		width: 100%;
	}
}
//end of COMPANIES

// STUFF
.stuff {
	background: $bg-color;
}

.stuff-wrapper {
	padding: 40px 0 50px;

	@media screen and (max-width: 768px) {
		padding: 20px 0;
	}
}

.slider-wrap, .second-slider-wrap {
	padding-bottom: 80px;
	overflow: hidden;
}

.slider-stuff-item {
	font-size: 0;
	margin: 0 2%;
	background-color: white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

	.slider-stuff-image {
		display: inline-block;
		width: 50%;

		img {
			width: 100%;
		}
	
		@media screen and (max-width: 992px) {
			width: 100%;
		}
	}
}

.stuff-slider-about {
	display: inline-block;
	width: 50%;
	padding: 20px 20px 0;
	vertical-align: top;

	@media screen and (max-width: 992px) {
		width: 100%;
	}

	@media screen and (max-width: 768px) {
		padding: 15px;
	}

	@media screen and (max-width: 480px) {
		padding: 15px 7px;
	}
}

.slider-about-heading {
	color: #284765;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 15px;
}

.slider-about-text {
	color: #6c7a89;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;

	@media screen and (max-width: 768px) {
		font-size: 10px;
	}
}

.slider-about-city {
	@extend .slider-about-text;
	font-size: 14px;
	line-height: 30px;
	text-transform: none;

	&:before {
		content: "\f041";
		font-family: FontAwesome;
		padding-right: 5px;
	}
}

.slider-about-work {
	@extend .slider-about-text;
	font-size: 14px;
	text-transform: none;

	&:before {
		content: "\f0ad";
		font-family: FontAwesome;
		padding-right: 5px;
	}
}

.slider-about-details {
	color: #d53428;
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
}
// end of STUFF

//OFFER
.offer-wrapper {
	padding: 80px 0;

	@media screen and (max-width: 768px) {
		padding: 20px 0;
	}
}

.offer-list, .offer-list-item {
	display: inline-block;
	padding-left: 50px;
}

.offer-list {
	@media screen and (max-width: 768px) {
		display: block;
		padding-left: 0;
	}
}

.offer-list-item {
	@media screen and (max-width: 768px) {
		padding: 20px 15px 20px 0;
	}
}

.offer-list-link {
	color: #6c7a89;
	font-size: 14px;
	text-decoration: none;

	&:hover {
		color: #3498db;
		text-decoration: underline;
	}
}

.slider-offer-item {
	display: inline-block;
	margin: 0 10px;
	text-align: center;

	img {
		width: 100%;
	}
}

.slider-offer-text {
	display: inline-block;
	padding-top: 20px;
	text-align: center;
	color: #3498db;
	text-decoration: none;
}
// end of OFFER

// ADVICES
.advices {
	background: $bg-color;
}
.advices-wrapper {
	padding-top: 45px;
	font-size: 0;

	@media screen and (max-width: 768px) {
		padding-top: 20px;
	}
}

.advices-main {
	display: inline-block;
	width: 75%;
	padding-right: 45px;
	vertical-align: top;

	@media screen and (max-width: 768px) {
		width: 100%;
		padding-right: 0;
	}
}

.advices-list {
	padding-top: 65px;

	@media screen and (max-width: 768px) {
		padding-top: 15px;
	}
}

.advices-list-image {
	float: left;
	padding: 0 30px 30px 0;

	@media screen and (max-width: 768px) {
		padding: 0 15px 10px 0;
		width: 35%;
	}
}

.advices-list-item {
	padding: 20px 0;
}

.advices-item-link {
	@extend .companies-text;
	float: none;
	display: inline-block;
	vertical-align: bottom;
	text-decoration: none;
}

.advices-aside {
	display: inline-block;
	width: 25%;
	padding-left: 3%;

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.advices-aside-block {
	margin-bottom: 20px;

	img {
		width: 100%;
	}
} 
// end of ADVICES

// WHYWE
.whywe-block {
	font-size: 0;
	padding-top: 45px;

	@media screen and (max-width: 768px) {
		width: 100%;
		padding-top: 0;
	}
}

.whywe-wrapper {
	padding-top: 60px;

	@media screen and (max-width: 768px) {
		padding-top: 20px;
	}
}

.whywe-block-item {
	display: inline-block;
	width: 50%;
	vertical-align: top;

	@media screen and (max-width: 992px) {
		vertical-align: middle;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		padding-top: 15px;
		text-align: justify;
	}

	&:first-child {
		padding-right: 30px;

		@media screen and (max-width: 768px) {
			padding-right: 0;
		}
	}

	.text:first-child {
		padding-bottom: 15px;
	}
}

.whywe-statistic {
	display: inline-block;
	width: 49%;
	height: 145px;
	margin: 0 2% 2% 0;
	padding: 25px;
	vertical-align: bottom;
	background: #2a3b4d;

	@media screen and (max-width: 480px) {
		width: 100%;
		height: 100px;
		margin: 5px 0;
	}

	&:nth-child(2n) {
		margin-right: 0;
	}
}

.whywe-statistic-number {
	font-size: 80px;
	text-align: center;
	color: white;

	@media screen and (max-width: 480px) {
		font-size: 48px;
	}
}

.whywe-statistic-text {
	@extend .whywe-statistic-number;
	font-size: 15px;
}
// end of WHYWE

// FOOTER
.footer-upper {
	background: $bg-color;
}

.footer-main {
	margin: 0 auto;
	font-size: 0;
}

.footer-main-block {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
} 

.footer-main-support {
	width: 25%;

	@media screen and (max-width: 992px) {
		width: 20%;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		text-align: center;
	}

	.footer-support-text {
		@extend .text;
		padding: 10px 0 0 20px;
	}

	.foter-main-logo-link {
		text-decoration: none;

		img {
			width: 55%;

			@media screen and (max-width: 768px) {
				width: 20%;
			}
		}
	}

	.footer-support-link {
		@extend .text;
		color: #d53428;
	}
}

.footer-main-info {
	width: 50%;
	text-align: center;

	@media screen and (max-width: 992px) {
		width: 60%;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		padding: 15px 0;
		text-align: center;
	}

	.footer-main-list {
		display: inline-block;
		padding-left: 10%;
		font-size: 0;

		@media screen and (max-width: 768px) {
			padding-left: 0;

			&:first-child {
				padding-bottom: 15px;
			}
		}

		@media screen and (max-width: 320px) {
			
			&:last-child .footer-main-item {
				border-right: none;
			}
		}
	}	

	.footer-main-item {
		text-align: left;

		@media screen and (max-width: 768px) {
			display: inline-block;
			padding: 0 10px;
			border-right: 1px solid $color-text;

			&:last-child {
				border-right: 0;
			}
		}
	}

	.footer-main-link {
		@extend .text;
		color: #3498db;
		text-decoration: none; 

		@media screen and (max-width: 992px) {
			font-size: 13px;
		}
	}
}

.footer-main-sign {
	width: 25%;
	
	@media screen and (max-width: 992px) {
		width: 20%;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		text-align: center;
	}

	.footer-main-text {
		@extend .text;
		text-align: center;
		float: right;

		@media screen and (max-width: 768px) {
			float: none;
		}
	}

	.footer-main-button {
		@extend .button;
		float: right;
		margin-top: 10px;
		background: #d53428;

		@media screen and (max-width: 768px) {
			float: none;
		}
	}
}

.footer-downer {
	background: #D8E0EB;

	.footer-downer-list {
		margin: -15px 0;
		font-size: 0;
	}

	.footer-downer-item {
		display: inline-block;
		width: 14.28%;
		padding: 10px;
		text-align: center;
		border-right: 1px solid #C7D3E0;

		&:last-child {
			border-right: none;
		}
	}

	.footer-downer-link {
		display: inline-block;
		font-size: 24px;
		color: #2d6481;

		@media screen and (max-width: 480px) {
			font-size: 20px;
		}
	}
}
// end of FOOTER

// for slick slider

.slick-slide img {
	display: inline-block;
}

.slick-dots li button:before {
  	top: -60px;
  	font-size: 40px;
}  

.slick-dots li.slick-active button:before {
  color: $color;
  font-size: 50px;
  opacity: 1;
}

.second-slider-wrap {
	.slick-dots li.slick-active button:before {
	  color: #024566;
	}
}

.slick-prev:before,
.slick-next:before {
	display: none;
}
